Repository finlayLtd/nft_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt, stylelint

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.css": [
    "stylefmt",
    "stylelint",
    "git add"
  ]
}

Update src/styles/Header/Hero.js
  src/styles/Header/Hero.js
Due: eslint --fix

Fix Alignment for mobile
  src/styles/Header/Hero.js
Due: eslint --fix

Add Margin to look spacy
  src/styles/Header/Hero.js
Due: eslint --fix

Fix Alignment
  src/styles/Header/Hero.js
Due: eslint --fix

Remove hardcoded color
  src/styles/Spinner.js
Due: eslint --fix

Create CODEOWNERS
  .github/CODEOWNERS
  src/components/Hero.js
  src/components/IssueListItem.js
  src/lib/apiGraphQL.js
  src/styles/Card.js
  src/styles/Header/Hero.js
  src/styles/Header/index.js
  src/styles/Spinner.js
Due: eslint --fix

Update src/components/Hero.js
  .github/CODEOWNERS
  src/components/Hero.js
  src/components/IssueListItem.js
  src/lib/apiGraphQL.js
  src/styles/Card.js
  src/styles/Header/Hero.js
  src/styles/Header/index.js
  src/styles/Spinner.js
Due: eslint --fix

Update src/components/Hero.js
  src/components/Hero.js
Due: eslint --fix

Add copy class to details section
  .github/CODEOWNERS
  src/components/Hero.js
Due: eslint --fix

Footer Tweaks
  src/index.css
Due: stylefmt, stylelint

Add detail class name
  src/components/Hero.js
Due: eslint --fix

h2 instead of span
  src/components/Hero.js
Due: eslint --fix

Update footer padding
  src/index.css
Due: stylefmt, stylelint

Fix React Warnings
  src/components/IssueListItem.js
  src/components/RepositoryGoals.js
Due: eslint --fix

Add logo and fix alignment
  src/components/Hero.js
  src/styles/Header/Hero.js
Due: eslint --fix

Update
  src/styles/Header/Hero.js
Due: eslint --fix

Add alt
  src/components/Hero.js
Due: eslint --fix

Update package.json
  package.json
  src/components/Hero.js
  src/components/IssueListItem.js
  src/components/RepositoryGoals.js
  src/index.css
  src/lib/apiGraphQL.js
  src/styles/Card.js
  src/styles/Header/Hero.js
  src/styles/Header/index.js
  src/styles/Spinner.js
Due: eslint --fix, stylefmt, stylelint

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  package.json
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
  package.json
  src/components/Hero.js
  src/components/IssueListItem.js
  src/components/RepositoryGoals.js
  src/index.css
  src/lib/apiGraphQL.js
  src/styles/Card.js
  src/styles/Header/Hero.js
  src/styles/Header/index.js
  src/styles/Spinner.js
Due: eslint --fix, stylefmt, stylelint

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

update screenshot
  README.md
Due: none

Update README.md
  README.md
Due: none

Add repo via return key
  src/components/AddRepoForm.js
Due: eslint --fix

Remove onClick property
  src/components/AddRepoForm.js
Due: eslint --fix

Add Logo and Badges
  README.md
Due: none

Add Emojis
  README.md
Due: none

Add Ship GIF
  README.md
Due: none

Init Empty Placeholder
  README.md
  index.html
  package-lock.json
  src/components/Issues.js
Due: eslint --fix

Delete index.html
  index.html
Due: none

Update README.md
  README.md
  package-lock.json
  src/components/Issues.js
Due: eslint --fix

Update Lock
  package-lock.json
Due: none
