Repository finlayLtd/nft_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt, stylelint

Bump enzyme from 3.10.0 to 3.11.0 (#481)
  package-lock.json
  package.json
Due: none

Bump find-cache-dir from 3.0.0 to 3.3.0 (#478)
  package-lock.json
  package.json
Due: none

Bump sw-precache-webpack-plugin from 0.11.5 to 1.0.0 (#487)
  package-lock.json
  package.json
Due: none

updates modules (#489)
  package-lock.json
  package.json
Due: none

Bump eslint from 6.6.0 to 6.8.0
  package-lock.json
Due: none

Bump http-proxy-middleware from 0.20.0 to 1.0.3
  package-lock.json
  package.json
Due: none

Bump @storybook/addon-actions from 5.2.5 to 5.3.18 (#500)
  package-lock.json
Due: none

Bump @storybook/addon-viewport from 5.2.8 to 5.3.18 (#499)
  package-lock.json
Due: none

Bump filesize from 5.0.3 to 6.1.0 (#492)
  package-lock.json
  package.json
Due: none

Bump @babel/preset-react from 7.7.0 to 7.9.4 (#501)
  package-lock.json
Due: none

Bump swr from 0.1.12 to 0.2.0 (#493)
  package-lock.json
  package.json
Due: none

Bump @babel/plugin-proposal-class-properties from 7.7.0 to 7.8.3 (#498)
  package-lock.json
Due: none

Bump babel-jest from 24.9.0 to 25.2.4 (#496)
  package-lock.json
  package.json
Due: none

Bump webpack from 4.41.5 to 4.42.1 (#494)
  package-lock.json
Due: none

Bump promise from 8.0.3 to 8.1.0 (#495)
  package-lock.json
  package.json
Due: none

update storybook static (#503)
  .github/workflows/storybook.yml
Due: none

overflow hidden on root div (#504)
  src/components/Repository.js
  src/index.css
Due: eslint --fix, stylefmt, stylelint

removes box-css (#505)
  src/styles/Grid/Flex.js
Due: eslint --fix

Update storybook.yml (#506)
  .github/workflows/storybook.yml
Due: none

bump v0.11.0 (#507)
  package.json
Due: none

Update storybook.yml
  .github/workflows/storybook.yml
Due: none

abstracts the build script
  .github/workflows/storybook.yml
Due: none

Bump stylelint-config-standard from 19.0.0 to 20.0.0
  package-lock.json
  package.json
Due: none

Bump eslint-plugin-prettier from 3.1.1 to 3.1.3
  package-lock.json
  package.json
Due: none

Bump chalk from 3.0.0 to 4.0.0
  package-lock.json
  package.json
Due: none

fix: contribute typos (#522)
  CONTRIBUTING.md
  src/components/Repository.js
Due: eslint --fix

[Security] Bump handlebars from 4.5.1 to 4.7.6
  package-lock.json
Due: none

Bump case-sensitive-paths-webpack-plugin from 2.2.0 to 2.3.0
  package-lock.json
  package.json
Due: none

remove uneeded stalebot
  .github/stale.yml
Due: none

Update package.json (#530)
  package.json
Due: none

implement home design (#502)
  public/index.html
  src/components/DashboardFooter.js
  src/components/Header.js
  src/components/Hero.js
  src/components/Login.js
  src/components/Nav.js
  src/components/Repository.js
  src/components/RepositoryGoals.js
  src/containers/App.js
  src/hoc/AuthHOC.js
  src/icons/index.js
  src/images/full-sauce.svg
  src/images/index.js
  src/images/one.jpeg
  src/images/one.png
  src/images/pizza.svg
  src/images/sauce.svg
  src/images/sauce2.svg
  src/images/sauced.svg
  src/index.css
  src/styles/Button.js
  src/styles/Header/Hero.js
  src/styles/Header/HomeNav.js
  src/styles/Header/index.js
  src/styles/Typography/SubtleLink.js
  src/styles/Typography/index.js
  src/tests/Header.test.js
  src/tests/Hero.test.js
  src/tests/Login.test.js
  stories/4-Headers.stories.js
  stories/4-Nav.stories.js
  stories/6-Home.stories.js
  stories/7-Hero.stories.js
Due: eslint --fix, stylefmt, stylelint

bug fix(#524) Failure when adding repos after the initial goals repo creation. (#532)
  src/components/CreateGoals.js
  src/components/NoteForm.js
  src/components/RepositoryGoals.js
Due: eslint --fix

Make open-sauced-goals public by default (#533)
  src/components/CreateGoals.js
  src/lib/apiGraphQL.js
Due: eslint --fix

Add some Icons (#537)
  src/components/AddRepoForm.js
  src/components/Hero.js
  src/tests/AddRepoForm.test.js
Due: eslint --fix

Add Issue and PR Template (#536)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

use goals-template for new repos
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  src/components/AddRepoForm.js
  src/components/Hero.js
  src/lib/apiGraphQL.js
  src/tests/AddRepoForm.test.js
Due: eslint --fix

Update README.md
  README.md
Due: none

Add Spinner (#534)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  package-lock.json
  src/components/AddRepoForm.js
  src/components/Hero.js
  src/components/Repository.js
  src/containers/Dashboard.js
  src/lib/apiGraphQL.js
  src/styles/Background.js
  src/styles/Container.js
  src/styles/Grid/Float.js
  src/styles/Grid/FormColumn.js
  src/styles/Input.js
  src/styles/Spinner.js
  src/styles/Typography/AccentLink.js
  src/styles/Typography/ErrorMessage.js
  src/tests/AddRepoForm.test.js
  src/tests/CreateGoals.test.js
Due: eslint --fix

leverage ownerId
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  package-lock.json
  src/components/AddRepoForm.js
  src/components/Hero.js
  src/components/Repository.js
  src/containers/Dashboard.js
  src/lib/apiGraphQL.js
  src/styles/Background.js
  src/styles/Container.js
  src/styles/Grid/Float.js
  src/styles/Grid/FormColumn.js
  src/styles/Input.js
  src/styles/Spinner.js
  src/styles/Typography/AccentLink.js
  src/styles/Typography/ErrorMessage.js
  src/tests/AddRepoForm.test.js
  src/tests/CreateGoals.test.js
Due: eslint --fix

Add markdown for notes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  package-lock.json
  package.json
  src/components/AddRepoForm.js
  src/components/Hero.js
  src/components/NoteForm.js
  src/components/Repository.js
  src/containers/Dashboard.js
  src/lib/apiGraphQL.js
  src/styles/Background.js
  src/styles/Container.js
  src/styles/Grid/Float.js
  src/styles/Grid/FormColumn.js
  src/styles/Input.js
  src/styles/Spinner.js
  src/styles/Typography/AccentLink.js
  src/styles/Typography/ErrorMessage.js
  src/tests/AddRepoForm.test.js
  src/tests/CreateGoals.test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
  stylelint: any of: *.css
