Repository finlayLtd/nft_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt, stylelint

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.css": [
    "stylefmt",
    "stylelint",
    "git add"
  ]
}

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

enhance the nav (#54)
  src/components/Footer.js
  src/components/Header.js
  src/icons/alert-circle.svg
  src/icons/index.js
  src/icons/log-in.svg
  src/icons/log-out.svg
  src/styles/Grid/FloatLeft.js
  src/styles/Grid/index.js
Due: eslint --fix

more query org (#57)
  src/queries/allRepoQuery.js
  src/queries/createRepo.js
  src/queries/deleteRepo.js
  src/queries/index.js
  src/queries/repoForm.js
  src/queries/repoQueries.js
  src/queries/repoQuery.js
  src/queries/userQueries.js
  yarn.lock
Due: eslint --fix

Delete yarn.lock
  yarn.lock
Due: none

Fix repo deletion bug (#56)
  src/containers/NoteForm.js
Due: eslint --fix

Delete yarn-error.log
  yarn-error.log
Due: none

New favicon (#58)
  package-lock.json
  public/android-icon-144x144.png
  public/android-icon-192x192.png
  public/android-icon-36x36.png
  public/android-icon-48x48.png
  public/android-icon-72x72.png
  public/android-icon-96x96.png
  public/apple-icon-114x114.png
  public/apple-icon-120x120.png
  public/apple-icon-144x144.png
  public/apple-icon-152x152.png
  public/apple-icon-180x180.png
  public/apple-icon-57x57.png
  public/apple-icon-60x60.png
  public/apple-icon-72x72.png
  public/apple-icon-76x76.png
  public/apple-icon-precomposed.png
  public/apple-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-96x96.png
  public/favicon.ico
  public/manifest copy.json
  public/manifest.json
  public/ms-icon-144x144.png
  public/ms-icon-150x150.png
  public/ms-icon-310x310.png
  public/ms-icon-70x70.png
Due: none

leverage identity ids to save data (#65)
  open-sauced.schema
  package-lock.json
  package.json
  src/App.js
  src/components/Login.js
  src/containers/Dropdown.js
  src/containers/NewRepo.js
  src/containers/NewRepoForm.js
  src/containers/NoteForm.js
  src/containers/Repositories.js
  src/containers/Repository.js
  src/queries/index.js
  src/queries/repoForm.js
  src/queries/repoQueries.js
  src/queries/userQueries.js
  src/queries/viewerQueries.js
  src/tests/NoteForm.test.js
Due: eslint --fix

fixes #66 (#67)
  open-sauced.schema
  yarn.lock
Due: none

updates to react 16.2 (#69)
  config/polyfills.js
  package-lock.json
  package.json
  src/setupTestFramework.js
  src/tests/Count.test.js
  src/tests/Instructions.test.js
  src/tests/Repositories.test.js
  src/tests/mocks/data.js
  src/tests/mocks/index.js
  src/tests/mocks/localStorage.js
Due: eslint --fix

migrate to the Graphcool Framework (#71)
  .graphcoolrc
  README.md
  graphcool.yml
  types.graphql
Due: none

adds stalebot
  .github/stale.yml
Due: none

remove yarn
  package-lock.json
  yarn.lock
Due: none

[Security] Bump tar-fs from 1.16.0 to 1.16.3 (#86)
  package-lock.json
Due: none

[Security] Bump lodash from 4.17.4 to 4.17.11 (#88)
  package-lock.json
  package.json
Due: none

[Security] Bump macaddress from 0.2.8 to 0.2.9 (#81)
  package-lock.json
Due: none

[Security] Bump merge from 1.2.0 to 1.2.1 (#83)
  package-lock.json
Due: none

[Security] Bump is-my-json-valid from 2.16.1 to 2.20.0 (#79)
  package-lock.json
Due: none

[Security] Bump axios from 0.15.2 to 0.18.1 (#89)
  package-lock.json
  package.json
Due: none

Bump file-loader from 0.9.0 to 0.11.2 (#80)
  package-lock.json
  package.json
Due: none

Bump path-exists from 2.1.0 to 4.0.0 (#85)
  package-lock.json
  package.json
Due: none

Bump strip-ansi from 3.0.1 to 5.2.0 (#82)
  package-lock.json
  package.json
Due: none

Bump babel-loader from 6.2.5 to 6.4.1 (#91)
  package-lock.json
  package.json
Due: none

Bump immutable from 3.8.1 to 3.8.2 (#92)
  package-lock.json
  package.json
Due: none

Bump prettier from 1.7.4 to 1.18.2 (#93)
  package-lock.json
  package.json
Due: none

Bump eslint-loader from 1.5.0 to 1.9.0 (#94)
  package-lock.json
  package.json
Due: none

[Security] Bump webpack-dev-server from 1.16.1 to 3.1.11 (#99)
  package-lock.json
  package.json
Due: none

[Security] Bump react-dom from 16.2.0 to 16.2.1 (#90)
  package-lock.json
  package.json
Due: none

Bump html-webpack-plugin from 2.22.0 to 3.2.0 (#97)
  package-lock.json
  package.json
Due: none

GitHub oauth (#100)
  package-lock.json
  package.json
  src/App.js
  src/components/Header.js
  src/components/Login.js
  src/containers/Repositories.js
  src/index.js
  src/lib/identityActions.js
  src/lib/identityActions.test.js
Due: eslint --fix

adds missing mock library (#103)
  package-lock.json
  package.json
Due: none

Bump eslint from 4.18.2 to 4.19.1 (#104)
  package-lock.json
  package.json
Due: none

Bump jest from 21.2.1 to 24.8.0 (#95)
  package-lock.json
  package.json
  src/App.js
  src/containers/Issues.js
  src/containers/NewRepoForm.js
  src/containers/NoteForm.js
  src/containers/Repositories.js
Due: eslint --fix

Bump babel-jest from 15.0.0 to 24.8.0 (#84)
  package-lock.json
  package.json
Due: none

Bump babel-preset-react-app from 0.2.1 to 9.0.0 (#98)
  package-lock.json
  package.json
Due: none

update favicon (#105)
  public/android-icon-144x144.png
  public/android-icon-192x192.png
  public/android-icon-36x36.png
  public/android-icon-48x48.png
  public/android-icon-72x72.png
  public/android-icon-96x96.png
  public/apple-icon-114x114.png
  public/apple-icon-120x120.png
  public/apple-icon-144x144.png
  public/apple-icon-152x152.png
  public/apple-icon-180x180.png
  public/apple-icon-57x57.png
  public/apple-icon-60x60.png
  public/apple-icon-72x72.png
  public/apple-icon-76x76.png
  public/apple-icon-precomposed.png
  public/apple-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-96x96.png
  public/favicon.ico
  public/manifest.json
  public/ms-icon-144x144.png
  public/ms-icon-150x150.png
  public/ms-icon-310x310.png
  public/ms-icon-70x70.png
Due: none

Favicon logo (#107)
  src/App.js
  src/components/Footer.js
  src/components/Login.js
  src/components/logo1.svg
  src/components/logo2.svg
  src/components/logo3.svg
  src/components/logo4.svg
  src/components/logo5.svg
  src/components/logo6.svg
  src/components/logo7.svg
  src/components/logo8.svg
  src/components/sauce-anchor.svg
  src/index.css
  src/styles/Button.js
  src/styles/Typography/AccentLink.js
  src/styles/Typography/PrimaryLink.js
  src/styles/variables.js
Due: eslint --fix, stylefmt, stylelint

Update README.md
  README.md
Due: none

Webpack upgrade (#113)
  .babelrc
  .netlify/state.json
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  package-lock.json
  package.json
Due: eslint --fix

Webpack 3 upgrade (#114)
  package-lock.json
  package.json
Due: none
