Repository finlayLtd/nft_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt, stylelint

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.css": [
    "stylefmt",
    "stylelint",
    "git add"
  ]
}

Update apollo (#19)
  package.json
  src/NewRepoForm.js
  yarn.lock
Due: eslint --fix

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

attempt to fix refetching (#20)
  package.json
  src/NewRepoForm.js
  src/Repositories.js
  yarn.lock
Due: eslint --fix

Update README.md
  README.md
Due: none

delete button working (#22)
  src/NoteForm.js
  src/index.css
Due: eslint --fix, stylefmt, stylelint

fixes notes (#23)
  src/NoteForm.js
Due: eslint --fix

adds more data (#24)
  src/Repository.js
Due: eslint --fix

remove references to cms in contributing.md (#26)
  CONTRIBUTING.md
Due: none

Create _redirects
  src/_redirects
Due: none

moves _redirects to public
  public/_redirects
Due: none

Add styled button (#28)
  netlify.toml
  package.json
  src/App.css
  src/Instructions.js
  src/NewRepoForm.js
  src/NoteForm.js
  src/index.css
  src/index.js
  src/styles/Button.js
Due: eslint --fix, stylefmt, stylelint

Convert css vars (#30)
  src/styles/Button.js
  src/styles/CssVars.js
Due: eslint --fix

adds issues to page (#25)
  .eslintrc
  package-lock.json
  src/Issues.js
  src/NoteForm.js
  src/Repository.js
  src/lib/apiGraphQL.js
  yarn.lock
Due: eslint --fix

adds feather icon (#33)
  README.md
  src/App.js
  src/icons/alert-triangle.svg
  src/icons/chevron-down.svg
  src/icons/chevron-left.svg
  src/icons/chevron-right.svg
  src/icons/chevron-up.svg
  src/icons/copy.svg
  src/icons/edit.svg
  src/icons/github.svg
  src/icons/home.svg
  src/icons/plus.svg
  src/icons/save.svg
  src/icons/star.svg
  src/styles/Button.js
  src/styles/variables.js
Due: eslint --fix

adds styling to issues
  src/App.css
  src/App.js
  src/Issues.js
  src/NoteForm.js
  src/icons/chevron-left.svg
  src/icons/chevron-right.svg
  src/icons/index.js
  src/styles/Grid/FlexCenter.js
  src/styles/Grid/FormColumn.js
  src/styles/Grid/IssuesColumn.js
  src/styles/Grid/index.js
  src/styles/PointerLink.js
  src/styles/Typography/TinyFont.js
  src/styles/Typography/index.js
  src/styles/variables.js
Due: eslint --fix, stylefmt, stylelint

better organization
  src/App.js
  src/components/Count.js
  src/components/Dropdown.js
  src/components/Instructions.js
  src/components/Issues.js
  src/components/NewRepo.js
  src/components/NewRepoForm.js
  src/components/NoteForm.js
  src/components/Repositories.js
  src/components/Repository.js
  src/icons.css
  src/index.js
Due: eslint --fix, stylefmt, stylelint

better footer created
  src/App.js
  src/components/Footer.js
  src/icons/index.js
  src/index.css
  src/styles/Grid/FlexCenter.js
  src/styles/Typography/GreenLink.js
Due: eslint --fix, stylefmt, stylelint

updated style components
  package.json
  src/components/Footer.js
  src/icons/monitor.svg
  src/styles/Grid/IssuesColumn.js
Due: eslint --fix

reword footer
  src/components/Footer.js
Due: eslint --fix

Update Count.test.js
  src/tests/Count.test.js
Due: eslint --fix

fixes failing master test
  src/tests/Count.test.js
Due: eslint --fix

adds netlify identity (#38)
  README.md
  package-lock.json
  package.json
  public/index.html
  src/App.js
  src/components/Login.js
  src/hoc/AuthHOC.js
  src/index.css
  src/index.js
  src/lib/identityActions.js
Due: eslint --fix, stylefmt, stylelint

Add Initial Tests for all Open Sauced Components (#37)
  .eslintrc
  package.json
  src/tests/Count.test.js
  src/tests/Dropdown.test.js
  src/tests/Footer.test.js
  src/tests/Instructions.test.js
  src/tests/Issues.test.js
  src/tests/NewRepo.test.js
  src/tests/NewRepoForm.test.js
  src/tests/NoteForm.test.js
  src/tests/Repositories.test.js
  src/tests/Repository.test.js
Due: eslint --fix

updates dependencies for react-test-utils
  package.json
  yarn.lock
Due: none

Test fix (#42)
  .gitignore
  .travis.yml
  README.md
  circle.yml
  config/webpack.config.prod.js
  package-lock.json
  package.json
  src/components/Dropdown.js
  src/components/NewRepo.js
  src/components/NewRepoForm.js
  src/components/NoteForm.js
  src/components/Repositories.js
  src/components/Repository.js
  src/index.js
  src/queries/allRepoQuery.js
  src/queries/allRepositories.js
  src/queries/createFormMutation.js
  src/queries/createRepo.js
  src/queries/deleteRepo.js
  src/queries/index.js
  src/queries/repoQuery.js
  src/tests/Dropdown.test.js
  src/tests/NewRepo.test.js
  src/tests/NewRepoForm.test.js
  src/tests/NoteForm.test.js
  src/tests/Repositories.test.js
  src/tests/Repository.test.js
  src/tests/mocks/data.js
  src/tests/mocks/index.js
  src/tests/mocks/match.js
  src/tests/queries.test.js
Due: eslint --fix

moves header component (#41)
  src/App.js
  src/components/Header.js
  src/tests/Header.test.js
Due: eslint --fix

Prettier (#43)
  .eslintrc
  .lintstagedrc
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  package-lock.json
  package.json
  src/components/Count.js
  src/components/Dropdown.js
  src/components/Header.js
  src/components/Instructions.js
  src/components/Issues.js
  src/components/NewRepoForm.js
  src/components/NoteForm.js
  src/components/Repositories.js
  src/components/Repository.js
  src/tests/Count.test.js
  src/tests/Dropdown.test.js
  src/tests/Header.test.js
  src/tests/Instructions.test.js
  src/tests/NewRepo.test.js
  src/tests/NewRepoForm.test.js
  src/tests/NoteForm.test.js
  src/tests/Repositories.test.js
  src/tests/Repository.test.js
  src/tests/queries.test.js
  yarn-error.log
  yarn.lock
Due: eslint --fix

use containers (#46)
  package.json
  src/components/Header.js
  src/containers/Dropdown.js
  src/containers/Issues.js
  src/containers/NewRepo.js
  src/containers/NewRepoForm.js
  src/containers/NoteForm.js
  src/containers/Repositories.js
  src/containers/Repository.js
  src/tests/Dropdown.test.js
  src/tests/Issues.test.js
  src/tests/NewRepo.test.js
  src/tests/NewRepoForm.test.js
  src/tests/NoteForm.test.js
  src/tests/Repositories.test.js
  src/tests/Repository.test.js
Due: eslint --fix

fixes container/components for repo
  src/App.js
Due: eslint --fix

update lock files
  package-lock.json
  yarn.lock
Due: none

fixes broken netlify build (#47)
  .eslintrc
  package.json
  yarn.lock
Due: none

adds service worker (#48)
  README.md
  config/webpack.config.prod.js
  netlify.toml
  package.json
  public/manifest.json
  src/index.js
  src/registerServiceWorker.js
  src/service-worker.js
  yarn.lock
Due: eslint --fix

Update netlify.toml
  netlify.toml
Due: none

Update Login.js
  src/components/Login.js
Due: eslint --fix

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Due: none
