Repository finlayLtd/nft_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt, stylelint

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.css": [
    "stylefmt",
    "stylelint",
    "git add"
  ]
}

chore(deps): bump react-markdown from 6.0.2 to 6.0.3 (#1117)
  npm-shrinkwrap.json
  package.json
Due: none

chore(release): 0.21.36
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps): bump @primer/octicons-react from 14.2.2 to 15.0.0 (#1111)
  npm-shrinkwrap.json
  package.json
Due: none

chore(release): 0.21.37
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

feat: update docusaurus config for Algolia (#1121)
  docs/docusaurus.config.js
  docs/npm-shrinkwrap.json
  docs/package.json
Due: eslint --fix

chore(release): 0.21.38
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

feat: use open sauced semantic release configuration (#1120)
  .czrc
  .github/workflows/assign-yourself.yml
  .github/workflows/ci.yml
  .github/workflows/compliance.yml
  .github/workflows/release.yml
  .github/workflows/triage.yml
  Dockerfile
  docs/.gitignore
  docs/.npmrc
  docs/README.md
  docs/docs/contributing/code-of-conduct.md
  docs/docs/contributing/fetching-data-from-github.md
  docs/docs/contributing/getting-started.md
  docs/docs/contributing/resolve-merge-conflicts.md
  docs/docs/contributing/triage-guide.md
  docs/docs/introduction.md
  docs/docs/storybook/getting-started.md
  docs/docs/styling/dark-mode.md
  docs/docusaurus.config.js
  docs/npm-shrinkwrap.json
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/markdown-page.md
  docs/static/.nojekyll
  docs/static/CNAME
  docs/static/favicon.ico
  docs/static/img/contributing-resolve-merge-conflicts-commit-message.png
  docs/static/img/contributing-resolve-merge-conflicts-dont-do.png
  docs/static/img/contributing-resolve-merge-conflicts-merge-conflicts.png
  docs/static/img/contributing-resolve-merge-conflicts-merge-success.png
  docs/static/img/contributing-resolve-merge-conflicts-ready-to-merge.png
  docs/static/img/contributing-resolve-merge-conflicts-review-conflicts.png
  docs/static/img/contributing-resolve-merge-conflicts-view-merge-commit.png
  docs/static/img/logo.svg
  docs/static/img/what-is-opensauced.png
  npm-shrinkwrap.json
  package.json
  release.config.js
Due: eslint --fix, stylefmt, stylelint

style: correct eslint missing function (#1122)
  .github/workflows/ci.yml
  .github/workflows/development.yml
  release.config.js
  stories/1-Button.stories.js
Due: eslint --fix

fix: correct production environment variables (#1123)
  scripts/build.js
Due: eslint --fix

build: correct requirements for semantic-release (#1125)
  package.json
Due: none

fix: add conventional-changelog-conventionalcommits as temporary peer dependency (#1126)
  npm-shrinkwrap.json
  package.json
Due: none

chore(release): 0.22.0
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

feat: added a dropdown menu under avatar (#1129)
  src/components/DropdownMenu.js
  src/components/Nav.js
  src/styles/Card.js
  src/styles/Header/HomeNav.js
  src/styles/ProfileAvatar.js
  stories/2-Card.stories.js
Due: eslint --fix

chore(release): 0.23.0
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

feat: dedupe community health files (#1130)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/funding.yml
  npm-shrinkwrap.json
  package.json
Due: none

chore(release): 0.24.0
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

feat: limit stars list to only the last 3 unused stars (#1124)
  src/components/RecommendedRepoItem.js
  src/components/RepositoryGoals.js
  src/lib/apiGraphQL.js
  src/lib/manageStarData.js
  src/lib/manageStarData.test.js
  stories/1-Button.stories.js
  stories/2-Card.stories.js
Due: eslint --fix

chore(release): 0.25.0
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

feat: add tests for dropdown menu (#1135)
  src/components/DropdownMenu.js
  src/styles/Card.js
  src/tests/DropdownMenu.test.js
Due: eslint --fix

chore(release): 0.26.0
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

fix: contributing guide link fixed (#1137)
  README.md
Due: none

chore(release): 0.26.1
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

feat: enhance contributions rendering (#1139)
  src/components/CommitType.js
  src/components/Contributions.js
  src/components/IssueListItem.js
  src/components/Issues.js
  src/styles/List.js
  src/styles/variables.js
Due: eslint --fix

chore(release): 0.27.0
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

feat: link repo recommendations to their repositories (#1143)
  src/components/RecommendedRepoItem.js
  stories/2-Card.stories.js
Due: eslint --fix

chore(release): 0.28.0
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps): bump styled-components from 5.3.0 to 5.3.1 (#1144)
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps-dev): bump jest-localstorage-mock from 2.4.16 to 2.4.17 (#1146)
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps-dev): bump eslint-plugin-import from 2.24.1 to 2.24.2 (#1149)
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps-dev): bump @testing-library/dom from 8.1.0 to 8.2.0 (#1153)
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps): bump react-router-dom from 5.2.0 to 5.2.1 (#1145)
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps-dev): bump eslint-plugin-react from 7.24.0 to 7.25.1 (#1152)
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps-dev): bump jest from 27.0.6 to 27.1.0 (#1151)
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps-dev): bump eslint-plugin-flowtype from 5.9.0 to 5.9.2 (#1147)
  npm-shrinkwrap.json
  package.json
Due: none

feat: remirror for note editing (#1105)
  README.md
  npm-shrinkwrap.json
  package.json
  src/components/NoteForm.js
  src/components/NoteFormSocial.js
  src/components/Repository.js
  src/index.css
  src/styles/Card.js
  src/tests/NoteForm.test.js
  src/tests/NoteFormSocial.test.js
Due: eslint --fix, stylefmt, stylelint

chore(release): 0.29.0
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

refactor: remove lodash dep (#1156)
  npm-shrinkwrap.json
  package.json
  src/components/ListGoals.js
  src/tests/ListGoals.test.js
Due: eslint --fix

chore(release): 0.29.1
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

feat: change note form basic template to a link (#1163)
  src/components/NoteFormSocial.js
Due: eslint --fix

chore(release): 0.30.0
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none
