Repository finlayLtd/nft_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt, stylelint

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.css": [
    "stylefmt",
    "stylelint",
    "git add"
  ]
}

Bump @storybook/react from 5.2.4 to 5.2.5 (#324)
  package-lock.json
  package.json
Due: none

Update nodejs.yml (#333)
  .github/workflows/nodejs.yml
Due: none

Add storybook components (#334)
  .gitignore
  src/App.js
  src/components/Card.js
  src/components/DashboardFooter.js
  src/components/DumbCard.js
  src/components/ListGoals.js
  src/components/Login.js
  src/containers/NoteForm.js
  src/icons/anchor.svg
  src/icons/anchorWithBorder.svg
  src/icons/index.js
  src/icons/sauced.svg
  src/images/face.png
  src/images/index.js
  src/images/one.png
  src/index.css
  src/styles/Avatar.js
  src/styles/Button.js
  src/styles/Card.js
  src/styles/Footer.js
  src/styles/Gradient.js
  src/styles/Grid/Flex.js
  src/styles/Grid/index.js
  src/styles/Header/Heading.js
  src/styles/Header/SubHeading.js
  src/styles/Header/index.js
  src/styles/variables.js
  stories/0-Welcome.stories.js
  stories/1-Button.stories.js
  stories/2-Card.stories.js
  stories/3-Primitives.stories.js
  stories/4-Headers.stories.js
  stories/5-Footers.stories.js
Due: eslint --fix, stylefmt, stylelint

mobile friendly header and notes (#335)
  src/components/Header.js
  src/containers/Repository.js
  src/styles/Grid/Flex.js
  src/styles/Grid/index.js
  src/styles/Header/SimpleHeader.js
  src/styles/Header/index.js
  src/styles/mediaTemplates.js
Due: eslint --fix

fix the header (#336)
  package.json
  src/components/Header.js
  src/index.css
  src/styles/Grid/Float.js
  src/styles/Grid/index.js
Due: eslint --fix, stylefmt, stylelint

337 repo cards (#338)
  package-lock.json
  package.json
  src/components/Card.js
  src/components/DumbCard.js
  src/components/ListGoals.js
  src/components/RepoListItem.js
  src/containers/Issues.js
  src/styles/Avatar.js
  src/styles/Background.js
  src/styles/Button.js
  src/styles/Card.js
  src/styles/Grid/Flex.js
  src/styles/Grid/FlexCenter.js
  src/styles/Grid/FormColumn.js
  src/styles/Grid/index.js
  src/styles/Label.js
  src/styles/List.js
  src/styles/variables.js
  stories/2-Card.stories.js
  stories/3-Primitives.stories.js
Due: eslint --fix

fix mobile view (#340)
  src/components/Login.js
  src/styles/Container.js
  src/styles/Grid/Flex.js
  src/styles/Grid/index.js
  src/styles/Label.js
Due: eslint --fix

update note style (#341)
  src/containers/NewRepoForm.js
  src/containers/NoteForm.js
  src/index.css
  src/styles/Button.js
  src/styles/Grid/IssuesColumn.js
  src/styles/Input.js
  src/styles/TextArea.js
  stories/1-Button.stories.js
  stories/2-Card.stories.js
Due: eslint --fix, stylefmt, stylelint

Update package.json (#342)
  package.json
Due: none

Update README.md
  README.md
Due: none

add repo form (#343)
  src/components/AddRepoForm.js
  src/components/Header.js
  src/components/ListGoals.js
  src/styles/Button.js
  src/styles/Card.js
  src/styles/Grid/Flex.js
  src/styles/Grid/index.js
  src/styles/Input.js
  src/styles/List.js
  stories/2-Card.stories.js
Due: eslint --fix

Update caching to v1 (#345)
  .github/workflows/nodejs.yml
Due: none

337 finish new repo card implementation (#346)
  src/App.js
  src/components/AddRepoForm.js
  src/components/ListGoals.js
  src/containers/NewRepo.js
  src/containers/NewRepoForm.js
  src/styles/Button.js
  src/styles/Grid/FormColumn.js
  src/tests/NewRepo.test.js
  src/tests/NewRepoForm.test.js
Due: eslint --fix

update new repo button (#347)
  src/components/AddRepoForm.js
  src/styles/Button.js
Due: eslint --fix

adds testing-library tests (#349)
  .babelrc
  package-lock.json
  package.json
  src/components/Card.js
  src/components/ListGoals.js
  src/components/Login.js
  src/containers/Issues.js
  src/containers/NoteForm.js
  src/containers/Repository.js
  src/tests/Cards.test.js
  src/tests/Footer.test.js
  src/tests/Login.test.js
  stories/2-Card.stories.js
  stories/4-Headers.stories.js
  stories/5-Footers.stories.js
Due: eslint --fix

Update CONTRIBUTING.md (#351)
  CONTRIBUTING.md
Due: none

211 better unit test (#352)
  src/components/Card.js
  src/components/Header.js
  src/tests/Header.test.js
  src/tests/mocks/data.js
Due: eslint --fix

211 better unit test (#353)
  src/components/AddRepoForm.js
  src/components/DashboardFooter.js
  src/components/Instructions.js
  src/components/RepoListItem.js
  src/containers/NoteForm.js
  src/tests/AddRepoForm.test.js
  src/tests/CreateGoals.test.js
  src/tests/DashboardFooter.test.js
  src/tests/Instructions.test.js
  src/tests/ListGoals.test.js
  src/tests/NoteForm.test.js
  src/tests/RepoListItem.test.js
  src/tests/mocks/data.js
Due: eslint --fix

set visibility to PRIVATE (#356)
  src/lib/apiGraphQL.js
Due: eslint --fix

added a sanitizer to remove the base url (#357)
  src/components/AddRepoForm.js
  src/lib/util.js
  src/tests/util.test.js
Due: eslint --fix

Update netlify.toml
  netlify.toml
Due: none

Create storybook.yml (#361)
  .github/workflows/storybook.yml
  netlify.toml
Due: none

audit fixes (#362)
  package-lock.json
Due: none

audit fixes (#363)
  package-lock.json
Due: none

Add bdougie token (#364)
  .github/workflows/nodejs.yml
  .github/workflows/storybook.yml
Due: none

350 storybook addons (#365)
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  package-lock.json
  package.json
Due: eslint --fix

Update package.json (#366)
  package.json
Due: none

code reorg (#367)
  src/components/Goals.js
  src/components/Issues.js
  src/components/Login.js
  src/components/NoteForm.js
  src/components/Repository.js
  src/containers/App.css
  src/containers/App.js
  src/containers/Dashboard.js
  src/index.js
  src/logos/index.js
  src/logos/logo1.svg
  src/logos/logo2.svg
  src/logos/logo3.svg
  src/logos/logo4.svg
  src/logos/logo5.svg
  src/logos/logo6.svg
  src/logos/logo7.svg
  src/logos/logo8.svg
  src/tests/Dashboard.test.js
  src/tests/Issues.test.js
  src/tests/NoteForm.test.js
  src/tests/Repository.test.js
Due: eslint --fix, stylefmt, stylelint

chore: bump version
  package.json
Due: none

211 write better test (#368)
  src/components/Goals.js
  src/tests/App.test.js
  src/tests/Goals.test.js
Due: eslint --fix

246 integration test (#369)
  src/tests/App.test.js
Due: eslint --fix

Context Card (#359)
  src/illustrations/index.js
  src/illustrations/undraw_diary.svg
  src/illustrations/undraw_done_checking.svg
  src/styles/Card.js
  src/styles/DoneChecking.js
  stories/2-Card.stories.js
Due: eslint --fix

Add Hint Card (#371)
  src/styles/Card.js
  src/styles/DoneChecking.js
  stories/1-Button.stories.js
  stories/2-Card.stories.js
Due: eslint --fix

updated script-clean to support cross-platform (#370)
  package.json
Due: none

Add Onboarding card (#372)
  src/styles/Button.js
  stories/1-Button.stories.js
  stories/2-Card.stories.js
Due: eslint --fix

Add Repo details (#373)
  stories/2-Card.stories.js
Due: eslint --fix

Add Issues card (#374)
  src/components/IssueListItem.js
  src/styles/Grid/IssuesColumn.js
  src/styles/List.js
  stories/2-Card.stories.js
Due: eslint --fix

Repo data (#375)
  src/components/IssueListItem.js
  src/styles/Card.js
  src/styles/Container.js
  src/styles/Grid/Float.js
  src/styles/Typography/TinyFont.js
  stories/2-Card.stories.js
Due: eslint --fix
