Repository finlayLtd/nft_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt, stylelint

Finish empty issue placeholder
  package-lock.json
  src/components/Issues.js
  src/styles/EmptyPlaceholder.js
Due: eslint --fix

Mobile Alignment Tweaks
  src/styles/EmptyPlaceholder.js
Due: eslint --fix

Update EmptyPlaceholder.js
  src/styles/EmptyPlaceholder.js
Due: eslint --fix

Add Cancel Button
  src/components/NoteForm.js
Due: eslint --fix

Update Delete Button
  src/components/NoteForm.js
Due: eslint --fix

Update
  src/components/NoteForm.js
Due: eslint --fix

Add ternary to display cancel and delete, remove redundant cancel function
  src/components/NoteForm.js
Due: eslint --fix

reposition pizza-sauce
  package-lock.json
  src/components/Hero.js
  src/images/index.js
  src/images/pizza-n-sauce.svg
  src/styles/Header/Hero.js
Due: eslint --fix

quotes
  src/components/Hero.js
  src/styles/Header/Hero.js
Due: eslint --fix

Update README.md
  README.md
  package-lock.json
  src/components/Hero.js
  src/images/index.js
  src/images/pizza-n-sauce.svg
  src/styles/Header/Hero.js
Due: eslint --fix

Update 4-Nav.stories.js
  stories/4-Nav.stories.js
Due: eslint --fix

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

details copy
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  package-lock.json
  src/components/Hero.js
  src/images/index.js
  src/images/pizza-n-sauce.svg
  src/styles/Header/Hero.js
  stories/4-Nav.stories.js
Due: eslint --fix

fix issue link
  src/components/Footer.js
  src/components/Nav.js
Due: eslint --fix

Update match.js
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  package-lock.json
  src/components/Footer.js
  src/components/Hero.js
  src/components/Nav.js
  src/images/index.js
  src/images/pizza-n-sauce.svg
  src/styles/Header/Hero.js
  src/tests/mocks/match.js
  stories/4-Nav.stories.js
Due: eslint --fix

Update Nav.js
  src/components/Nav.js
Due: eslint --fix

Update 6-Home.stories.js
  stories/6-Home.stories.js
Due: eslint --fix

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update LICENSE
  LICENSE
Due: none

Update README.md
  README.md
Due: none

details css completed
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  LICENSE
  README.md
  package-lock.json
  src/components/Footer.js
  src/components/Hero.js
  src/components/Nav.js
  src/icons/archive.svg
  src/icons/index.js
  src/icons/mortar-board.svg
  src/icons/rocket.svg
  src/icons/squirrel.svg
  src/icons/watch.svg
  src/images/index.js
  src/images/pizza-n-sauce.svg
  src/styles/Header/Hero.js
  src/tests/mocks/match.js
  stories/4-Nav.stories.js
  stories/6-Home.stories.js
Due: eslint --fix

fix footer
  src/index.css
Due: stylefmt, stylelint

fix header
  src/styles/Grid/Float.js
Due: eslint --fix

all around css improvements:
  src/components/Hero.js
  src/components/Nav.js
  src/index.css
  src/styles/Grid/Float.js
  src/styles/Grid/index.js
  src/styles/Header/Hero.js
Due: eslint --fix, stylefmt, stylelint

update readme screencap
  README.md
  src/images/homepage.png
Due: none

update quote and make images local
  src/images/bdougie.jpg
  src/images/electron.png
  src/images/go.png
  src/images/graphql.png
  src/images/gucci.jpg
  src/images/index.js
  src/images/next.png
Due: eslint --fix

fix footer and pizza svg
  src/images/pizza-n-sauce.svg
Due: none

Better list (#562)
  README.md
  package-lock.json
  package.json
  src/components/Contributions.js
  src/components/Footer.js
  src/components/Hero.js
  src/components/IssueListItem.js
  src/components/Issues.js
  src/components/Nav.js
  src/icons/archive.svg
  src/icons/index.js
  src/icons/mortar-board.svg
  src/icons/rocket.svg
  src/icons/squirrel.svg
  src/icons/watch.svg
  src/images/bdougie.jpg
  src/images/electron.png
  src/images/go.png
  src/images/graphql.png
  src/images/gucci.jpg
  src/images/homepage.png
  src/images/index.js
  src/images/next.png
  src/images/pizza-n-sauce.svg
  src/index.css
  src/lib/apiGraphQL.js
  src/styles/Card.js
  src/styles/Grid/Float.js
  src/styles/Grid/index.js
  src/styles/Header/Hero.js
  src/styles/List.js
Due: eslint --fix, stylefmt, stylelint

fixes test
  README.md
  package-lock.json
  package.json
  src/components/Contributions.js
  src/components/Footer.js
  src/components/Hero.js
  src/components/IssueListItem.js
  src/components/Issues.js
  src/components/Nav.js
  src/icons/archive.svg
  src/icons/index.js
  src/icons/mortar-board.svg
  src/icons/rocket.svg
  src/icons/squirrel.svg
  src/icons/watch.svg
  src/images/bdougie.jpg
  src/images/electron.png
  src/images/go.png
  src/images/graphql.png
  src/images/gucci.jpg
  src/images/homepage.png
  src/images/index.js
  src/images/next.png
  src/images/pizza-n-sauce.svg
  src/index.css
  src/lib/apiGraphQL.js
  src/styles/Card.js
  src/styles/Grid/Float.js
  src/styles/Grid/index.js
  src/styles/Header/Hero.js
  src/styles/List.js
Due: eslint --fix, stylefmt, stylelint

fix padding
  src/styles/Header/Hero.js
Due: eslint --fix

use styleguide
  src/styles/Header/Hero.js
Due: eslint --fix

fix test
  src/tests/Footer.test.js
Due: eslint --fix

Update package.json
  package-lock.json
  package.json
  src/components/Contributions.js
  src/components/IssueListItem.js
  src/components/Issues.js
  src/lib/apiGraphQL.js
  src/styles/Card.js
  src/styles/List.js
Due: eslint --fix

Bump html-webpack-plugin from 4.0.0-beta.11 to 4.3.0
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  LICENSE
  README.md
  package-lock.json
  package.json
  src/components/Nav.js
  src/tests/mocks/match.js
  stories/4-Nav.stories.js
  stories/6-Home.stories.js
Due: eslint --fix

Bump @testing-library/react from 9.4.0 to 10.0.4
  package-lock.json
  package.json
Due: none

Bump file-loader from 5.1.0 to 6.0.0
  package-lock.json
  package.json
Due: none

Bump webpack-dev-server from 3.9.0 to 3.11.0
  package-lock.json
  package.json
Due: none

Add Basic Admin Bar Design
  package-lock.json
  src/components/AdminStatsBar.js
  src/components/Nav.js
  src/styles/Header/AdminNav.js
  src/styles/Header/index.js
Due: eslint --fix

Add toggle functionality
  package-lock.json
  package.json
  src/components/Nav.js
Due: eslint --fix

Store adminbar visibility in localStorage
  src/components/Nav.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
  stylelint: any of: *.css
